.main-container {
  /* background-color: rgb(166, 240, 215); */
 
  background-image: url('../../public/images/background/sky-clouds-eps10-illustration-free-vector.jpg');
  background-size: cover;
  height: 100vh;
  box-sizing: border-box;
}
.main-container nav {
  height: 15vh;
  box-sizing: border-box;
}
.main-container main {
  height: 85vh;
  box-sizing: border-box;
}
